@font-face {
  font-family: republiko;
  src: url(../fonts/republiko.otf);
}

:root {
  --primary-color: #449DAA;
  --primary-darker-color: #298794;
  --primary-lighter-color: #6CBCC8;
  --secondary-color: #546DB8;
  --secondary-darker-color: #3953A3;
  --secondary-lighter-color: #7A90D1;
  --tertiary-color: #4FCC65;
  --tertiary-darker-color: #31B949;
  --tertiary-lighter-color: #76DE88;
  --navbar-bg-color: var(--primary-color);
  --navbar-text-color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}
