#post-body {
  padding: 10px;
}

#post-title {
  color: black;
  font-family: uniform-bold;
  font-size: 28pt;
  margin: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
}

#post-date {
  display: block;
  font-family: uniform-light;
  font-size: 12pt;
}
