#navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  height: 250px;
  position: relative;
  text-align: center;
  width: 100%;

  & canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

#logo-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;

  & img {
    border-radius: 140px;
    border: 2px solid var(--secondary-lighter-color);
    height: 140px;
    width: 140px;
  }

  & h1 {
    font-family: republiko;
    margin: 0;
    padding: 20px 0;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  }
}

#social-wrapper {
  bottom: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 1;

  & a {
    color: black;
  }
}

@media (min-width: 576px) {
  #navbar {
    height: 180px;
  }

  #logo-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    left: 0;
    position: absolute;
    top: 0;

    & h1 {
      padding: 0;
    }

    & img {
      margin: 10px;
      height: 64px;
      width: 64px;
    }
  }
}
